defaults:
  - _self_
  - policy: diffusion_unet_hybrid_image_policy

_target_: sim_demo_collector.runner.diffusion_policy_runner.DiffusionPolicyRunner
env:
  _target_: sim_demo_collector.wrapper.multistep_wrapper.MultiStepWrapper
  env:
    _target_: sim_demo_collector.wrapper.data_recording_wrapper.DataRecordingWrapper
    env: ${task.env}
    obs_keys: ${task.obs_keys}
    zarr_path: demos/${task.name}.zarr

  n_obs_steps: ${runner.policy.n_obs_steps}
  n_action_steps: ${runner.policy.n_action_steps}
  max_episode_steps: ${task.max_episode_steps}
  reward_agg_method: max

rotation_transformer:
  _target_: sim_demo_collector.util.transform_util.RotationTransformer
  from_rep: rotation_6d
  to_rep: axis_angle
shape_meta: ${runner.policy.shape_meta}
max_episode_steps: ${task.max_episode_steps}
num_episodes: ${task.num_episodes}
device: cpu